version: '3'
services:
  ch_server:
    image: yandex/clickhouse-server
    ports:
      - "8123:8123"
      - "9100:9100"
    volumes:
      - /vol1/1000/clickhouse_data/conf/docker_related_config.xml:/etc/clickhouse-server/config.d/docker_related_config.xml:rw
      - /vol1/1000/clickhouse_data/conf/config.xml:/etc/clickhouse-server/config.xml:rw
      - /vol1/1000/clickhouse_data/conf/users.xml:/etc/clickhouse-server/users.xml:rw
      - /etc/localtime:/etc/localtime:ro
      - /vol1/1000/clickhouse_data/log:/var/log/clickhouse-server
      - /vol1/1000/clickhouse_data/db:/var/lib/clickhouse:rw
  ch_client:
    image: yandex/clickhouse-client
    entrypoint:
      - /bin/sleep
    command:
      - infinity



# docker cp chtmp:/etc/clickhouse-server/config.d/docker_related_config.xml ./
# docker cp chtmp:/etc/clickhouse-server/config.xml ./
# docker cp chtmp:/etc/clickhouse-server/users.xml ./
# -rw-rw-rw- 1 root root 60072 Dec 26  2021 config.xml
# -rw-rw-r-- 1 root root   314 Dec 26  2021 docker_related_config.xml
# -rw-rw-rw- 1 root root  6248 Dec 26  2021 users.xml
